# Dependencies
node_modules/
.npm-cache/
package-lock.json

# Firebase & Deployment
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# Environment and secrets
.env
.env.local
.env.*.local

# Operating System & IDE Files
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/

# Logs and temp files
*.log
temp/
tmp/
.system_generated/
